.parent{
    min-width: 720px;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border: 0.5px solid rgb(199, 192, 192);
    box-shadow: 0 10px 15px 0 rgb(127, 112, 112), 0 5px 10px 0 rgb(154, 139, 139);
    border-radius: 0.8em;
    min-height: 500px;
    display: inline-block;
    text-align: center;
}
.adminPanel{
    display: grid;
}
.lateralNav{
   width: auto;
display: flex;
margin-right: 2em;
align-items: center;
justify-content: space-between;
flex-flow: wrap;
}
.componentNav{
    background-color: rgb(66, 184, 66);
    border-radius: 4px;
    list-style: none;
    padding: 0.4em;
    min-width: 120px;
    max-height: 36px;
}
.linkNav{
    text-decoration: none;
    color: black;
}
.routes{
    width: auto;
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width: 760px){
    .parent{
        min-width: 0px;
        width: auto;
    }
    .routes{
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width: 610px){
    .parent{
        min-width: 0px;
        width: auto;
    }
    .lateralNav{
        width: auto;
        justify-content: space-around;
    }
     .componentNav{
        background-color: rgb(66, 184, 66);
        list-style: none;
        padding: 0.4em;
        min-width: 120px;
        max-height: 36px;
        margin: 0.2em;
    }
}

@media only screen and (max-width: 490px){
    .adminPanel{
        max-width: 384px;
    }
    .routes{
        margin: auto;
        max-width: 360px;
    }
}