.adminPanel{
    display: flex;
}
.lateralNav{
    margin-left: 1em;
    margin-right: 2em;
    display: grid;
    justify-content:space-between;
    width: 20%;
}

.componentNav{
    margin-top: 1em;
    padding: 0.5em;
    list-style: none;
    height: 2.5em;
    width: 8em;
    background-color: rgb(95, 190, 85);
    border: 0.5px solid rgb(102, 102, 102);
    border-radius: 4px;
}

.linkNav{
    text-decoration: none;
    color: black;
    
}

@media only screen and (max-width: 600px){
    .adminPanel{
        display: grid;
        justify-content: space-around;
    }
    .lateralNav{
        width: 90%;
        margin-right: em;
        display: flex;
        flex-wrap: wrap;
    }
 }

