.formContactParent{
    margin: 0;
    display: flex;
    justify-content: space-around;
    min-width: 360px;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
}
.formContact{
    background-color: white;
    margin-top: 1em;
    margin-left: 2em;
    height: 450px;
    width: 360px;
    border-radius: 0.8em;
    border: 0.5px solid rgb(199, 192, 192);
}
.formContactChild{
    margin: 0 2em 0 2em ;
   
}
.tittleForm{
    margin: 1em;
    text-align: center;
}

.inputForm{
    margin: auto;
    border: 0.2px solid rgb(199, 192, 192);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1em;
}
.lastInputForm{
    border: 0.2px solid rgb(199, 192, 192);
    border-radius: 4px;
    width: 100%;
    height: 3em;
    text-align:start;
    font-size: small;
}

.chats{
    background-color: white;
    margin: 1em 2em 0 2em;
    border: 0.5px solid rgb(199, 192, 192);
    border-radius: 0.8em;
    display: grid;
    justify-content: space-around;
    padding: 1em;
    width: 490px;
    height: 450px;
}
.chatsChild{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 50%;
    padding: 1.5em;
    text-align: center;

}

.buttonForm{
    margin: 1em 0 1em 0;
    text-align: center;
    text-decoration: none;
    border-radius: 0.4em;
    border: 1.5px solid rgb(170, 145, 145);
    background-color: rgb(88, 87, 87);
}
.textDirection{
   padding-top: 4em;
   text-align: center;
}

@media only screen and (max-width: 1080px){
    .formContactParent{
        display: grid;
        justify-content: center;
        justify-items: center;
        height: 100%;
        
     }
     .chats{
        margin: 1em;
        padding: 0.8em;}
}


@media only screen and (max-width: 680px){
    .formContactParent{
        display: grid;
        justify-content: space-around;
        height: 100%;
     }
     .formContact{
        margin: 1em;
        width: auto;
        height: 65vh;
        border-radius: 0.8em;
        border: 0.5px solid rgb(199, 192, 192);
        box-shadow: 0 10px 15px 0 rgb(127, 112, 112), 0 5px 10px 0 rgb(154, 139, 139);
    }
     .chats{
        margin: 1em;
        padding: 0.8em;
        width: auto;
        height: 40vh;
        box-shadow: 0 10px 15px 0 rgb(127, 112, 112), 0 5px 10px 0 rgb(154, 139, 139);
        border: 0.5px solid rgb(199, 192, 192);
    }
    .tittleForm{
        font-size: 2rem;
    }
    .textDirection{
        padding-top: 0.5em;
     }

 }
