.history{
    margin: 1em;
}

.childHistory{
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
.textHistory{
    text-align:justify ;
   margin: 1em;
}
@media only screen and (max-width: 680px){
    
    .childHistory{
        margin: 1em;
        padding: 1em;
        display: grid;
        justify-content: space-around;
    }

 }
