.addForm {
    display: grid;
    justify-content: space-around;
    width: auto;
    margin-top: 1.5em;
}

.tittle{
    margin-left: 66.25px;
    margin-bottom: 2em;
    text-decoration: none;
    color: black;
    font-size:x-large
    
}
.publicationsList{
    display: flex;
    justify-content: space-between;
}