
.list{
    width: 100%;
}

.users{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em;
}

.buttons-div{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
@media only screen and (max-width: 600px) {
    .modal-dialog{
        display: flex;
    justify-content: center;
    justify-self: center;
    }
  .modal-content{
    display: flex;
    justify-content: center;
    justify-self: center;
    max-width: 300px;
  }
}