.parent-card{
    width: 45%;
    list-style: none;
    margin: 3em;
    max-height: 560px;
    background-color: white;
    text-align:justify;
    padding: 1em;
    border-radius: 8px;
    border: 0.5px solid rgb(97, 99, 101);
    box-shadow: 0 10px 10px 0 rgb(127, 112, 112), 0 5px 10px 0 rgb(154, 139, 139);
}
.image{
    max-height: 420px;
    text-align: center;
}

@media only screen and (max-width: 800px){
    
    .parent-card{
        min-width: 310px;
        height: 90%;
        margin: 2em;
        display: grid;
        justify-content: space-between;
    }

 }