.publications{
    display: flex;
    justify-content: space-between;
    min-width: 310px;
   
}
.welcome {
    text-align: justify;
    background-color: rgb(95, 190, 85);
    margin-left: 4em;
    margin-right: 4em;
    padding: 1em;
    border-radius: 8px;
    border: 0.5px solid rgb(33, 37, 41);
    box-shadow: 0 10px 10px 0 rgb(127, 112, 112), 0 5px 10px 0 rgb(154, 139, 139);
}


@media only screen and (max-width: 800px){
    .publications{
        min-width: 310px;
        display:  grid;
    justify-content:center;
    justify-items: center;
    }
    .welcome{
        margin-left: 1.6em;
    margin-right: 1.6em;
   
    }
 }