.addForm {
    display: grid;
    justify-content: space-between;
    align-items: center;
    max-width: 520px;
    background-color: white;
    align-items: center;
}
.route{
    min-width: 330px;
    width: auto;
    align-items: center;
}
.title{
    margin: 0.2em;
    border: 1px solid  rgb(66, 184, 66);
    border-radius: 4px;
    padding: 0.2em;
}
.titleList{
    margin-right: 2em;
    
}

.publicationsList{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.contentButton{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 720px){
    .routes{
        display: grid;
        min-width: none;
        width: auto;
        align-items: center;
    }
}
@media only screen and (max-width: 680px){
    .addForm {
        display: grid;
        justify-content: space-between;
        padding: 0;
        margin: 1em;
        width: auto;
    }
    .routes{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .routesList{
        width: auto;
    }
    .publicationsList{
        margin-top: 1em;
        display: flex;
        justify-content: space-;
    }
 }
