.App-header {
  height: 25vh;
  background-image: url(https://images.pexels.com/photos/1466493/pexels-photo-1466493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center 50%;
  background-size: cover;

}
.parent-app{
  height: auto;
  background-image: url(./assets/topografiaGilena.png);
  background-position: center;
  background-size: cover;
}
.child-app{
  height: 100%;
  padding-top: 1em;
  display: grid;
  justify-content: center;
  justify-self: center;
  
}

